*{
    font-family: Arial, sans-serif;
}
#Bigcontainer{
    display: flex;
    
}
.container{
    padding: 9% 0;
    width: 50%;
}
.container > .small-container{
    display: block;
    margin: auto;
    width: 50%;
    padding: 15px 
}
#Bigcontainer .container > #inside-container{
    color: blue;
}
.container > #inside-container .smalll-container{
    display: block;
    margin: auto;
    border: 1px solid blue;
    width: 45%;
    padding: 25px;
}

.container > #inside-container .smalll-container p:nth-child(1){
    font-size: small;
    margin-bottom: -10px;
}
.container > #inside-container .smalll-container{
    cursor: pointer;
    font-weight: 300;
}
.container > .small-container p:last-child{
    font-size: large;
}
.container :nth-child(2) :hover{
    background-color: blue;
    color: white;
}
.smalll-container span{
    /* border: 1px solid blue; */
    padding: 2px;
    font-size: small;
    background-color: rgba(33, 98, 220, 0.806);
    color: aliceblue;
}

/* last*/

.Verysmalll-container {
    margin-left: -10px ;
    font-weight: 700;
    cursor: pointer;
    color: blue;
}
#container img{
    width: 100%;
    height: 100vh;
}
@media screen and (max-width : 1250px) {
    .container{
        display: block;
        margin :auto;
        width: 80%;
        font-size: larger;
    }
    #container{
        width: 0%;
        height: 0%;
    }      
}