
 *{
    font-family: Inter,sans-serif;
    box-sizing: border-box;
  }  
 
 #Bigcontainer{
     display: flex;
     flex-direction: row;  
     height: 98vh;
 }
 .container{
    display: block;
    margin: auto;
    align-items: center;
    padding: 9%;
 }
 .container img {
    width: 60%;
 }

 #container img{
    width: 100%;
    height: 100%;
 }
 .Ist-container{
    display: flex;
    justify-content: space-around;

 }
 .Ist-container p{
    font-size: 1.5rem;

 }
 #inside-container input{
    width: 400px;
 }
 #inside-container > div{
    width: 400px;
    text-align: center;
 }

 #inside-container form label > input{
    border: 0ch;
    border-bottom: 1px solid black;
    height: 2.5rem;
    outline: none;
 }
 input[type=submit]{
    height: 2.8rem;
    background-color: #0033ff;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: 0ch;
    border-radius: 2px;
   
 }
 #button:hover{
    background-color: rgb(6, 6, 138);
 }
 
 @media screen and (max-width : 1250px) {
    .container{
        flex-direction: row;
        display: flex; 
        flex-wrap: wrap;

    }
    #container{
        width: 0%;
        height: 0%;
    }  
}
@media screen and (min-width : 680px) {
    .container{
        display: block;
        margin: auto;
        justify-content: center; 
    }  
}   



 