*{
   font-family: Inter,sans-serif;
}

.small-container1 {
    display: flex;
    margin: auto;
    width: 400px;
    padding: 15px ;
    
}

.small-container1 > span {
    display: flex;
    font-size: 28px;
    margin-left: 15px;
}

 #signupContainer{
    height: 200px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}


input{
    box-sizing: border-box;
    margin: 4% 0;
    outline: none;
}

/* old */
 
 #Bigcontainer{
     display: flex;
     margin-top: 100px;
     
 }
 .container{
     display: block;
     margin: auto;
 }
 .container > .small-container{
    display: block;
    margin: auto;
    width: 50%;
    padding: 15px ;
     
 }

 .small-container2 {
    text-align: center;
 }
 .small-container2 > div {
    margin-top: 20px;
 }
 .small-container2 > div:nth-child(1){
    color: blue;
 }
 .small-container2 > div:nth-child(2){
    color: grey;
 }
 .small-container2 > div:nth-child(2)>span{
    text-decoration: underline;
 }

 #inside-container{
    border:1px solid black;
    width: fit-content; 
    align-items: center;
    padding: 3rem 5rem;
    margin: auto;

 }

  #details{
     display: grid;
     width: 40%;
     column-gap: 1rem;
     grid-template-columns: repeat(2,1fr);
     align-items: center;
 
 }

 #details label {
    padding: 5px;
 }
 input[type=text]{
    border: none;
    border-bottom: 1px solid black;
    
    
 }
 input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    
 }
 input[type=email]{
    border: none;
    border-bottom: 1px solid black;
    
 }
 /* submit button */
 input[type = button]{
    background-color: blue;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 50%;
 }
 
 input, select {
    width: 250px;
    background-color: transparent;
 }

 select {
    outline: 1px solid black;
    height: 20px;
    border: none;
 }

 #inside-container h6 {
    font-weight: 600;
 }
 
 .container > #inside-container .smalll-container{
     cursor: pointer;
     font-weight: 300;
 }
 
 .container > .small-container p:last-child{
     font-size: large;
 }
 
 
 .smalll-container span{
     /* border: 1px solid blue; */
     padding: 2px;
     font-size: large;
     background-color: rgba(33, 98, 220, 0.806);
     color: aliceblue;
 }
 
 /* last*/
 
 .small-container2 {
     font-weight: 700;
     cursor: pointer;
     
 }
 #container img{
     width: 100%;
     height: 100vh;
     /* height:5vh; */
 }
@media screen and (max-width: 460px) {
    #details{
        /* display: block; */
        flex-direction: row;
        display: flex; 
        flex-wrap: wrap;

    }
    #inside-container{
        border: none;
    }
}

@media screen and(min-width : 461px) and (max-width: 750px){
    #details{
        flex-direction: row;
        display: flex; 
        flex-wrap: wrap;

    }
    #inside-container{
        border: none;
    }
}

