#nameDiv{
    display: flex;
    justify-content: space-evenly;
}

.firstDiv{
    /* border: 2px solid red; */
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* height: 1000px; */
    /* padding-left: 20px; */
}

.secondDiv{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 400px;
    height: 500px;
}

#subsParentdiv{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-right: 100px;
}

.headDiv{
    background-color: rgb(245, 242, 242);
    height: 65px;
    margin-top: 0;
}

.headDiv>h2{
    padding-top: 20px;
    padding-left: 15px;
    font-size: 20px;
}

#btn1{
    width: 94%;
    height: 60px;
    margin-left: 21px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    border-radius: 5px;
}

#googleImg{
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.namechildDiv{
    width: 45%;
    /* border: 1px solid green; */
    margin-left: -15px;
}

.nameInput{
    width: 100%;
    height: 30px;
    margin-top: -5px;
    margin-bottom: 20px;
}

/* .pTag{
    margin-left: 23px;
} */

.Input{
    width: 92.5%;
    height: 30px;
    margin-left: 23px;
    margin-top: -5px;
    margin-bottom: 20px;
}

#childDiv{
    display: flex;
}

.checkBox{
    margin-left: 23px;
    margin-right: 10px;
}

.btn-primary{
    width: 94%;
    height: 50px;
    margin-left: 21px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: blue;
}

.row{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-group{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.planDiv{
    padding-left: 20px;
}

.planDiv>h4{
    font-size: 14px;
    padding-top: 35px;
}

#planList{
    width: 95%;
    height: 35px;
    border-color: blue;
    border-radius: 4px;
}

#pTag{
    font-size: 14px;
    padding-top: 35px;
    padding-left: 18px;
    padding-bottom: 35px;
}

.planpriceDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.ptag{
    font-size: 13.5px;
    padding-top: 5px;
}

a{
    font-size: 14px;
    color: blue;
}

#navbar{
    height: 85px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#navbar.img{

}