

.previous {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 50%;
}
